/* Global Styles */
:root {
  /* Navbar height */
  --navbar-height: 60px;

  /* Base font properties */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color variables for theme management */
  --text-color: #333;
  --bg-color: #f0f0f0;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --card-bg-color: #ffffff;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

/* Media Queries */
@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Utility Classes */
.card {
  background-color: var(--card-bg-color);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.top-container {
  margin-top: calc(var(--navbar-height) + 2.5rem);
  background-color: var(--bg-color);
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.results-container {
  padding-bottom: 1rem;
}

/* Button Styles */
button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #1976d8;
  color: rgb(249, 247, 252);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 15px;
}

button:hover {
  background-color: #0056b3;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
}

.apply-btn {
  background-color: #1976d2;
  color: white;
}

.reset-btn {
  background-color: #f44336;
  color: white;
}

.cancel-btn {
  background-color: #e0e0e0;
  color: #333;
}

.load-more {
  margin-bottom: 1rem;
}

/* Overlay Styles */
.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.global-overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Filter Icon Styles */
.filter-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.filter-icon:hover {
  color: #51b911;
}

/* Filter Styles */
.filter-container {
  position: relative;
}

.filter-toggle {
  padding: 0.75rem;
  border: none;
  background-color: #51b911;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-toggle:hover {
  background-color: #408e0a;
}

.filter-group {
  margin-bottom: 1rem;
}

.filter-group h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.filter-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.filter-option {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-option label {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.filter-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0.5rem;
}